/* styles.css */

/* Global Styles */
:root {
    --primary-color: #6fcf6f;
    --secondary-color: #c4c4c4;
    --background-color: #000;
    --secondary-bg-color: #262626;
    --text-color: #e0e0e0;
    --link-color: #bb86fc;
    --link-hover-color: #9381ff;
    --font-family-main: 'Arial', sans-serif;
    --font-family-mono: 'Major Mono Display', monospace;
    --font-family-default: monospace;
    --base-padding: 10px;
    --base-margin: 20px;
    --border-radius: 3px;
}

body {
    margin: 0;
    padding: 0 0 80px;
    font-family: var(--font-family-main);
    line-height: 1.6;
    background-color: var(--background-color);
    color: var(--text-color);
    min-height: 100vh;
    position: relative;
}
.page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content-wrap {
    flex: 1;
}

h1,
h2,
h3,
h4,
h5,
h6,
h1 a {
    font-family: var(--font-family-mono);
    color: var(--primary-color);
}

a,
button,
nav a {
    font-family: var(--font-family-default);
}

a {
    color: var(--link-color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

button {
    background-color: var(--background-color);
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    border-radius: var(--border-radius);
    padding: var(--base-padding);
    transition: background-color 0.3s, color 0.3s;
}

button:hover {
    background-color: var(--primary-color);
    color: var(--background-color);
}

header,
footer {
    text-align: center;
    padding: var(--base-padding) 20px;
}

footer {
    background-color: var(--secondary-bg-color);
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; /* Center items horizontally */
    align-items: center; /* Align items vertically in the center */
    flex-wrap: wrap; /* Allow items to wrap if space is insufficient */
}

nav ul li {
    margin: 0 var(--base-margin) / 2; /* Even spacing on both sides */
}

nav a {
    text-decoration: none;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    border-radius: var(--border-radius);
    padding: var(--base-padding) 10px;
    transition: background-color 0.3s, color 0.3s;
    background-color: var(--background-color);
}

nav a:hover {
    background-color: var(--primary-color);
    color: var(--background-color);
}

nav a.selected,
nav a:active {
    background-color: var(--link-color);
    color: var(--text-color);
}

main {
    padding: 1rem;
    text-align: center;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1000;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    max-width: 960px;
    margin: 0 auto;
    flex-direction: row;
}

.footer-content a {
    display: flex;
    align-items: center;
    margin: var(--base-padding) 10px;
}

.footer-content svg {
    margin-right: 8px;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    nav ul {
        justify-content: center;
        flex-wrap: nowrap; /* Prevent wrapping on larger screens */
    }

    nav ul li {
        margin: 0 var(--base-margin); /* Increased margin for larger screens */
    }
}

/* Large devices (desktops, 1024px and up) */
@media (min-width: 1024px) {
    header, footer {
        padding: var(--base-padding) 30px; /* Override for larger screens */
    }

    nav ul li {
        margin: 0 15px; /* Override for larger screens */
    }
}
