/* styles.css */

/* Global Styles */
:root {
    --primary-color: #6fcf6f;
    --secondary-color: #c4c4c4;
    --background-color: #000;
    --secondary-bg-color: #262626;
    --text-color: #e0e0e0;
    --link-color: #bb86fc;
    --link-hover-color: #9381ff;
}

body {
    margin: 0;
    padding-bottom: 80px;
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: var(--background-color);
    color: var(--text-color);
    min-height: 100vh;
    position: relative;
}

h1 {
    margin: 0;
    font-family: monospace;
    color: var(--primary-color);
}

h2,
h3,
h4,
h5,
h6 {
    font-family: monospace;
    color: var(--primary-color);
}

a {
    color: var(--link-color);
    font-family: monospace;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

button {
    background-color: var(--background-color);
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    font-family: monospace;
    border-radius: 5px;
    padding: 5px;
    transition: background-color 0.3s, color 0.3s;
}

button:hover {
    background-color: var(--primary-color);
    color: var(--background-color);
}

header {
    background-color: var(--secondary-bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    display: block;
    background-color: var(--background-color);
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    font-family: monospace;
    border-radius: 5px;
    padding: 10px 15px;
    transition: background-color 0.3s, color 0.3s;
}

nav a:hover {
    background-color: var(--primary-color);
    color: var(--background-color);
}

nav a.selected,
nav a:active {
    background-color: var(--link-color);
    color: var(--text-color);
}

/* Main Content */
main {
    padding: 1rem;
    text-align: center;
}

/* Footer */
footer {
    background-color: var(--secondary-bg-color);
    color: var(--text-color);
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1000;
    padding: 10px 10px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    max-width: 960px;
    margin: 0 auto;
}

.footer-content a {
    display: flex;
    align-items: center;
    margin: 5px 10px;
}

.footer-content svg {
    margin-right: 8px;
}

.copyright {
    font-family: monospace;
}

@media (max-width: 768px) {
    nav ul {
        flex-direction: row;
        justify-content: center;
    }

    nav ul li {
        display: block;
        margin: 5px 0;
    }

    header {
        padding-bottom: 10px;
    }

    .footer-content {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 1024px) {
    header {
        padding: 20px;
    }

    nav li {
        margin: 0 15px;
    }
}